body {
  background: #042f45;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}
* {
  font-family: sans-serif;
  box-sizing: border-box;
}

form {
  width: 500px;
  border: 0px solid #042f45;
  background: #fff;
  border-radius: 15px;
  box-shadow: #000000;
  /* padding: 28px; */
}
.register {
  padding: 0px 30px 0px 30px;
}
.login {
  padding: 30px;
}
/* .loginR {
  position: absolute;
  top: 0px;
  left: 0px;
}
.loginH {
  position: absolute;
  top: 0px;
  left: 0px;
} */
h2 {
  text-align: center;
  margin-bottom: 40px;
}

input {
  display: block;
  border: 2px solid #ccc;
  width: 95%;
  padding: 10px;
  margin: 10px auto;
  border-radius: 5px;
}
label {
  color: #888;
  font-size: 18px;
  padding: 10px;
}

button {
  float: right;
  background: #555;
  padding: 10px 15px;
  color: #fff;
  border-radius: 5px;
  margin-right: 10px;
  border: none;
}
button:hover {
  opacity: 0.7;
}
.error {
  background: #f2dede;
  color: #a94442;
  padding: 10px;
  width: 95%;
  border-radius: 5px;
  margin: 20px auto;
}

.success {
  background: #d4edda;
  color: #40754c;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  margin: 20px auto;
}

h1 {
  text-align: center;
  color: #fff;
}

.navigation .n {
  position: relative;
  font-size: 1.1em;
  color: #ffffff;
  background-color: #042f45;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}

.navigation .n::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #fffafa;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.navigation .n:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

.ca {
  font-size: 14px;
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: #444;
}
.ca:hover {
  text-decoration: underline;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #020507cf;
  margin: 30px 0;
}

.input-box label {
  position: absolute;
  top: 50px;
  left: 5px;
  transform: translateY(-10px);
  font-size: 1em;
  color: rgb(0, 0, 3);
  font-weight: 500;
  pointer-events: none;
  transition: 0.5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #000000;
  font-weight: 600;
  padding: 0 35px 0 5px;
}
.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: #000000;
  line-height: 57px;
}
/* .ha {
  position: fixed;
  background-color: #042f45;
} */
