html, body {
    margin: 0;
    font-family: "Karla";
    color: #546E7A;
    min-height: 100vh;
  min-width: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  }
  
  * {
    box-sizing: border-box;
  }
  .all{
    display: flex;
    min-height: 100vh;
   
  }
  .timetable {
    display: grid;
    grid-template-areas: ". week" "time content";
    grid-template-columns: 120px;
    grid-template-rows: 60px;
    width: 80vw;
    height: 85vh;
  }
  .timetable .accent-pink-gradient {
    display: flex;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #ee8ebc, #eea08e);
    transition: 0.2s ease box-shadow, 0.2s ease transform;
  }
  .timetable .accent-pink-gradient:hover {
    box-shadow: 0 20px 30px 0 rgba(238, 142, 188, 0.3);
    transform: scale(1.05);
  }
  .timetable .accent-orange-gradient {
    display: flex;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #eec08e, #dcee8e);
    transition: 0.2s ease box-shadow, 0.2s ease transform;
  }
  .timetable .accent-orange-gradient:hover {
    box-shadow: 0 20px 30px 0 rgba(238, 192, 142, 0.3);
    transform: scale(1.05);
  }
  .timetable .accent-green-gradient {
    display: flex;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #bcee8e, #8eeea0);
    transition: 0.2s ease box-shadow, 0.2s ease transform;
  }
  .timetable .accent-green-gradient:hover {
    box-shadow: 0 20px 30px 0 rgba(188, 238, 142, 0.3);
    transform: scale(1.05);
  }
  .timetable .accent-cyan-gradient {
    display: flex;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #8eeec0, #8edcee);
    transition: 0.2s ease box-shadow, 0.2s ease transform;
  }
  .timetable .accent-cyan-gradient:hover {
    box-shadow: 0 20px 30px 0 rgba(142, 238, 192, 0.3);
    transform: scale(1.05);
  }
  .timetable .accent-blue-gradient {
    display: flex;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #8ebcee, #a08eee);
    transition: 0.2s ease box-shadow, 0.2s ease transform;
  }
  .timetable .accent-blue-gradient:hover {
    box-shadow: 0 20px 30px 0 rgba(142, 188, 238, 0.3);
    transform: scale(1.05);
  }
  .timetable .accent-purple-gradient {
    display: flex;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #c08eee, #ee8edc);
    transition: 0.2s ease box-shadow, 0.2s ease transform;
  }
  .timetable .accent-purple-gradient:hover {
    box-shadow: 0 20px 30px 0 rgba(192, 142, 238, 0.3);
    transform: scale(1.05);
  }
  .timetable .weekend {
    background: #fbfbfc;
    color: #87a1ad;
  }
  .timetable .week-names {
    grid-area: week;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
  }
  .timetable .week-names > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    box-shadow: inset 1px 0 0 #ECEFF1;
  }
  .timetable .time-interval {
    grid-area: time;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    font-size: 14px;
  }
  .timetable .time-interval > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 1px 0 0 #ECEFF1;
  }
  .timetable .content {
    grid-area: content;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(7, 1fr);
  }
  .timetable .content > div {
    box-shadow: inset 1px 0 0 #ECEFF1, inset 0 1px 0 0 #ECEFF1;
  }/*# sourceMappingURL=style.css.map */

  /*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap");

/*===== VARIABLES CSS =====*/
:root {
  /*===== Colors =====*/
  --first-color: #272A3A;
  --first-color-light: #8A8EAA;
  --first-color-lighten: #F8F8FC;

  /*===== Font and typography =====*/
  --body-font: 'Ubuntu', sans-serif;
  --normal-font-size: 1rem;
  --smaller-font-size: .813rem;
}

/*===== BASE =====*/
*,::before,::after{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: var(--body-font);
  background-color: var(--first-color-lighten);
}

h1{
  margin: 0;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

/*===== DRAG and DROP =====*/
.drop, .drop__container{
  display: grid;
 
}

.drop{
  
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 90vh;
}

.drop__container{
 
  row-gap: 1rem;
  padding: 2rem;
  box-shadow: 4px 4px 16px #E1E1E1;
  
  
}

.drop__card, .drop__data{
  display: flex;
  align-items: center;
}

.drop__card{
  width: 170px;
  
  justify-content: space-between;
  padding: .75rem 1.25rem .75rem .75rem;
  background-color: var(--first-color-lighten);
  box-shadow: 4px 4px 16px #E1E1E1, -2px -2px 16px #FFF;
  border-radius: 2.5rem;
}

.drop__img{
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin-right: 1rem;
}

.drop__name{
  font-size: var(--normal-font-size);
  color: var(--first-color);
  font-weight: 500;
}

.drop__profession{
  font-size: var(--smaller-font-size);
  color: var(--first-color-light);
}

.drop__social{
  margin: 0 .375rem;
  color: var(--first-color-light);
  transition: .4s;
}

.drop__social:hover{
  color: var(--first-color);
}

/* Class name for the chosen item */
.sortable-chosen{
  box-shadow: 8px 8px 32px #E1E1E1;
}

/* Class name for the dragging item */
.sortable-drag{
  opacity: 0;
}

#downloadme{
  padding: 20px 50px;
  font-size: 1.5rem;
  cursor: pointer;
  border: 0px;
  background: transparent;
  position: relative;
  transition: all .2s;
  overflow: hidden;
  color: #fff;
  border-radius: 30px;
  box-shadow: 0px -0px 0px 0px rgba(143, 64, 248, .5), 0px 0px 0px 0px rgba(39, 200, 255, .5);
}
#downloadme::after {
  content: '';
  width: 400px;
  height: 400px;
  position: absolute;
  top: -50px;
  left: -100px;
  background-image: linear-gradient(225deg, #27d86c 0%, #26caf8 50%, #c625d0 100%);
  z-index: -1;
  transition: all .5s;
}
#download{
  padding: 20px 50px;
  font-size: 1.5rem;
  cursor: pointer;
  border: 0px;
  background: linear-gradient(225deg, #230fbb 0%, #26caf8 50%, #c625d0 100%);
  position: relative;
  transition: all .2s;
  overflow: hidden;
  color: #ffffff;
  border-radius: 30px;
  box-shadow: 0px -0px 0px 0px rgba(143, 64, 248, .5), 0px 0px 0px 0px rgba(39, 200, 255, .5);
 margin-left: 600px;

}
#download::after {
  content: '';
  width: 400px;
  height: 400px;
  position: absolute;
  top: -50px;
  left: -100px;
  background-image: linear-gradient(225deg, #27d86c 0%, #26caf8 50%, #c625d0 100%);
  z-index: -1;
  transition: all .5s;
}
#download:hover::after {
  transform: rotate(150deg);
}

#download:hover {
  transform: translate(0,-6px);
  box-shadow: 10px -10px 25px 0px rgba(143, 64, 248, .25), -10px 10px 25px 0px rgba(39, 200, 255, .25);
}